<!DOCTYPE html>
    <head>
        <title>First GrapesJS Project 4</title>
        <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
        <script src="//unpkg.com/grapesjs"></script>
        <!--
        If you need plugins, put them below the main grapesjs script
        <script src="/path/to/some/plugin.min.js"></script>
        -->
        <link rel="stylesheet" href="fgp-4.css">
    </head>
    <div class="panel__top">
        <div class="panel__basic-actions"></div>
    </div>
    <div class="editor-row">
        <div class="editor-canvas">
            <div id="gjs">
                <h1>Hello World Component!</h1>
            </div>
        </div>
        <div class="panel__right">
            <div class="layers-container"></div>
        </div>
    </div>
    <div id="blocks"></div>
    <script src="fgp-4.js"></script>
</html>