<!DOCTYPE html>
    <head>
        <title>Theming</title>
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
        <script src="//unpkg.com/grapesjs"></script>
        <!--
        If you need plugins, put them below the main grapesjs script
        <script src="/path/to/some/plugin.min.js"></script>
        -->
        <link rel="stylesheet" href="fgp-11.css">
        <!-- <link rel="stylesheet" href="solid.css">
        <link rel="stylesheet" href="regular.css">
        <link rel="stylesheet" href="fontawesome.css">
        <link rel="stylesheet" href="brands.css"> -->
        
    </head>
    <div class="panel__top">
        <div class="panel__basic-actions"></div>
        <div class="panel__devices"></div>
        <div class="panel__switcher"></div>
    </div>
    <div class="editor-row">
        <div class="editor-canvas">
            <div id="gjs">
                <h1>Hello World Component!</h1>
            </div>
        </div>
        <div class="panel__right">
            <div class="layers-container"></div>
            <div class="styles-container"></div>
            <div class="traits-container"></div>
        </div>
    </div>
    <div id="blocks"></div>
    <script src="fgp-11.js"></script>
</html>