<!DOCTYPE html>
    <head>
        <title>First GrapesJS Project</title>
        <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
        <script src="//unpkg.com/grapesjs"></script>
        <!--
        If you need plugins, put them below the main grapesjs script
        <script src="/path/to/some/plugin.min.js"></script>
        -->
        <link rel="stylesheet" href="first-grapesjs-project.css">
    </head>
    <div id="gjs">
        <h1>Hello World Component!</h1>
    </div>
    <script src="first-grapesjs-project.js"></script>
</html>